@model string
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Performance test</h2>

@using (Html.BeginForm("GetStatistics", "Performance", FormMethod.Post))
{
    <p>Enter site URL:</p>
    
    <p align="left">
        @Html.TextBox("siteUrl", "https://www.ukad-group.com/")
        <input class="actionButtons" type="submit" value="Start test" />
    </p>
}
